div.wrapperInput {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  font-size: 20px;
  line-height: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  gap: 0.5rem;
}
div.wrapperInput input,
div.wrapperInput select {
  height: 2.5rem;
  outline: 0;
  border: 0;
  border-radius: 9px;
  padding: 0 0.5rem;
  font-size: 17px;
  background-color: antiquewhite;
  box-shadow: 0px 0px 10px rgb(169, 144, 118);
}
